<div class="mt-20">
  <% if notice %>
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong><%= notice %></strong>
      <span class="glyphicon glyphicon-ok-circle"></span>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong><%= alert %></strong>
      <span class="glyphicon glyphicon-remove-circle"></span>
    </div>
  <% end %>
</div>
